<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Routing for ManateeMike</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="top">Algae Blooms, Seagrass Loss, and Manatee Deaths <a id="learn" target=”_blank” href="https://www.savethemanatee.org/how-to-help/take-action/floridas-algae-blooms/">Learn More</a></div>

    <div class="container-bg">
    <div class="container fluid">
        <div class="row">
          <div class="col">
            <img src="assets\video\gif.gif">
          </div>
          <div class="col">
            <h1>Manatee Mike</h1>
          </div>
          <div class="col">
            <a target=”_blank” class="button" href="http://www.savethemanatee.org/how-to-help/adopt-a-manatee/"><span>Adopt</span></a>
            <a target=”_blank” class="button" href="http://www.savethemanatee.org/how-to-help/take-action/"><span>Act</span></a>
            <a target=”_blank” class="button" href="http://smc.convio.net/donate?_gl=1*1gzxpbu*_ga*MzY4MTIxOTI3LjE2NjMyNjcwMzk.*_ga_LMQ09HSW0P*MTY2MzY5MjU4NC4yLjEuMTY2MzY5NDYwMS4wLjAuMA.."><span>Donate</span></a>
          </div>
        </div>
      </div>
    </div>
</body>
</html>

