img{
    height: 250px;
    width: 100%;
}
body{
    cursor: url("https://img.icons8.com/external-icongeek26-flat-icongeek26/64/000000/external-manatee-sea-life-icongeek26-flat-icongeek26.png"),auto;
}

