<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <h1>Adventurer of the Florida Gulf</h1>
  <div class="loop"><video controls autoplay loop>
      <source src="assets\video\loop.mp4" alt="video of manateemike" type="video/mp4" />
    </video></div>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <img src="assets\img\headshot.jpg">
      </div>
      <div class="col">
        <h2>Michael Costa was born in Massachusetts and grew up on the outskirts of Boston. For most of his young life
          Mike enjoyed playing football, performing in plays and being the lead singer of a band. He later attended
          Emerson College in Boston where he met his future wife <a target="_blank"
            href="https://www.elainepascale.com/">“The Godmother of Horror”</a> Elaine Pascale.
          He then had a son and daughter named Christopher and Sierra, and moved down to Cape Cod.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets\img\fam.jpg">
      </div>
      <div class="col">
        <h2>He devoted his time and energy to kids in need all around him. Whether teaching in a classroom, or coaching
          a team, he was always available to help.
          Today Michael and Elaine reside in Florida where they go manatee and dolphin sightseeing regularly on their
          paddleboards together. Mike also enjoys a good football game in his down time. He is the 2021 Armchair Fantasy
          Football League SuperBowl Champ!
        </h2>
      </div>
    </div>
  </div>

  <div class="loop"><video controls>
      <source class="turtle" src="assets\video\turtle.mp4" alt="video of turtlemike" type="video/mp4" />
    </video></div>
</body>

</html>